version: 1.0.{build}
branches:
  except:
    - master
image: Visual Studio 2022
environment:
  UV_FROZEN: "1"
  matrix:
    # - job_name: Python 3.8 x86
    #   PYTHON: "C:\\Python38"
    #   PYTHON_VERSION: 3.8
    #   PYTHON_ARCH: 32

    # - job_name: Python 3.9 x86
    #   PYTHON: "C:\\Python39"
    #   PYTHON_VERSION: 3.9
    #   PYTHON_ARCH: 32

    # - job_name: Python 3.10 x86
    #   PYTHON: "C:\\Python310"
    #   PYTHON_VERSION: 3.10
    #   PYTHON_ARCH: 32

    # - job_name: Python 3.11 x86
    #   PYTHON: "C:\\Python311"
    #   PYTHON_VERSION: 3.11
    #   PYTHON_ARCH: 32

    # - job_name: Python 3.12 x86
    #   PYTHON: "C:\\Python312"
    #   PYTHON_VERSION: 3.12
    #   PYTHON_ARCH: 32

    # - job_name: Python 3.8 x64
    #   PYTHON: "C:\\Python38-x64"
    #   PYTHON_VERSION: 3.8
    #   PYTHON_ARCH: 64

    # - job_name: Python 3.9 x64
    #   PYTHON: "C:\\Python39-x64"
    #   PYTHON_VERSION: 3.9
    #   PYTHON_ARCH: 64

    # - job_name: Python 3.10 x64
    #   PYTHON: "C:\\Python310-x64"
    #   PYTHON_VERSION: 3.10
    #   PYTHON_ARCH: 64

    # - job_name: Python 3.11 x64
    #   PYTHON: "C:\\Python311"
    #   PYTHON_VERSION: 3.11
    #   PYTHON_ARCH: 64

    - job_name: Python 3.12 x64
      PYTHON: "C:\\Python312"
      PYTHON_VERSION: 3.12
      PYTHON_ARCH: 64

init:
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;%USERPROFILE%\AppData\Roaming\Python\Python%PYTHON_VERSION:.=%\Scripts;%PATH%
  - SET UV_PYTHON=%PYTHON_VERSION%
  - ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%

install:
  - python --version
  - powershell -ExecutionPolicy ByPass -c "irm https://astral.sh/uv/install.ps1 | iex"
  - set PATH=C:\Users\appveyor\.local\bin;%PATH%
  - uv --version || echo "uv is not installed!"

before_build:
  - ps: |
      if (Test-Path "C:\projects\FlaUI\src\TestApplications") {
        Write-Host "✅ Cache Restored - Skipping FlaUI build!"
      } else {
        Write-Host "⚠️ Cache Not Found - Cloning and Building FlaUI..."
        git clone https://github.com/FlaUI/FlaUI.git C:\projects\FlaUI
        cd "C:\projects\FlaUI"
        $dotnetVersions = dotnet --list-sdks
        $desiredVersions = $dotnetVersions | Where-Object { $_ -match "8\." }
        $desiredVersion = ($desiredVersions | Sort-Object -Descending | Select-Object -First 1).Trim()
        Write-Output "Selected .NET SDK version: $desiredVersion"
        # Extract only the version number
        $desiredVersionNumber = ($desiredVersion -split '[\[\]]')[0].Trim()
        Write-Output "Extracted version number: $desiredVersionNumber"
        # Create or update global.json with the selected SDK version
        $globalJsonContent = @{
            sdk = @{
                version = $desiredVersionNumber
                rollForward = "latestFeature"
            }
        } | ConvertTo-Json -Compress
        Set-Content -Path "C:\projects\FlaUI\global.json" -Value $globalJsonContent
        dotnet --version
        & "C:\\projects\\FlaUI\\build.ps1" --target "Build"
        Write-Host "✅ FlaUI Build Completed."
      }

build_script:
  - ps: |
      cd "C:\projects\flaui-uiautomation-wrapper"
      Write-Host "Building FlaUI Python wheels..."
      uv build --package=flaui-uiautomation-wrapper
      Write-Host "FlaUI Python wheels build completed."

after_build:
  - ps: |
      New-Item -ItemType Directory -Path "C:\projects\flaui-uiautomation-wrapper\test_applications\WPFApplication" -Force | Out-Null
      Copy-Item -Path "C:\projects\FlaUI\src\TestApplications\WpfApplication\bin\*" -Destination "C:\projects\flaui-uiautomation-wrapper\test_applications\WPFApplication" -Recurse -Force
      New-Item -ItemType Directory -Path "C:\projects\flaui-uiautomation-wrapper\test_applications\WinFormsApplication" -Force | Out-Null
      Copy-Item -Path "C:\projects\FlaUI\src\TestApplications\WinFormsApplication\bin\*" -Destination "C:\projects\flaui-uiautomation-wrapper\test_applications\WinFormsApplication" -Recurse -Force
      Write-Host "Test applications copied successfully."

before_test:
  - ps: |
      cd "C:\projects\flaui-uiautomation-wrapper"
      $wheelPath = Get-ChildItem -Path "dist" -Filter "*.whl" | Select-Object -First 1
      Write-Output "FlaUI Python Wheels Path: $wheelPath"
      uv venv
      .\.venv\Scripts\activate
      Write-Host "Virtual environment activated."

test_script:
  - ps: |
      $env:PATH = "$env:USERPROFILE\.local\bin;$env:PATH"
      Write-Host "Running tests with pytest..."
      uv run --group unit_test --package flaui-uiautomation-wrapper --extra coverage --find-links "C:\projects\flaui-uiautomation-wrapper\dist" coverage run -m pytest --junit-xml=test-results.xml
      Write-Host "Tests completed."

after_test:
  - ps: |
      $env:PATH = "$env:USERPROFILE\.local\bin;$env:PATH"
      Write-Host "Generating test coverage report..."
      uv run coverage combine
      uv run coverage xml
      uv run coverage html
      Write-Host "Coverage report generated."

artifacts:
  - path: test-results.xml
    name: test-results

  - path: coverage.xml
    name: coverage

  - path: htmlcov
    name: coverage-html

  - path: test_applications/
    name: test-applications

  - path: dist/
    name: wheels

cache:
  - C:\Users\appveyor\.nuget\packages # Cache the NuGet packages
  - C:\projects\FlaUI\**\bin
  - C:\projects\FlaUI\**\obj
  - C:\projects\FlaUI\src\TestApplications

on_success:
  - ps: Write-Host "Build Succeeded!"

on_failure:
  - ps: Write-Host "Build Failed!"

on_finish:
  - ps: >-
      $wc = New-Object 'System.Net.WebClient'

      if (Test-Path .\test-results.xml) {
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\test-results-uia3.xml))
      }

      if (Test-Path .\coverage.xml) {
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/coverage/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\coverage.xml))
      }
