version: 1.0.{build}
branches:
  except:
    - master
image: Visual Studio 2022
environment:
  matrix:
    - job_name: Python 3.8 x86
      PYTHON: "C:\\Python38"
      PYTHON_VERSION: 3.8
      PYTHON_ARCH: 32

    - job_name: Python 3.9 x86
      PYTHON: "C:\\Python39"
      PYTHON_VERSION: 3.9
      PYTHON_ARCH: 32

    - job_name: Python 3.10 x86
      PYTHON: "C:\\Python310"
      PYTHON_VERSION: 3.10
      PYTHON_ARCH: 32

    - job_name: Python 3.11 x86
      PYTHON: "C:\\Python311"
      PYTHON_VERSION: 3.11
      PYTHON_ARCH: 32

    - job_name: Python 3.12 x86
      PYTHON: "C:\\Python312"
      PYTHON_VERSION: 3.12
      PYTHON_ARCH: 32

    - job_name: Python 3.8 x64
      PYTHON: "C:\\Python38-x64"
      PYTHON_VERSION: 3.8
      PYTHON_ARCH: 64

    - job_name: Python 3.9 x64
      PYTHON: "C:\\Python39-x64"
      PYTHON_VERSION: 3.9
      PYTHON_ARCH: 64

    - job_name: Python 3.10 x64
      PYTHON: "C:\\Python310-x64"
      PYTHON_VERSION: 3.10
      PYTHON_ARCH: 64

    - job_name: Python 3.11 x64
      PYTHON: "C:\\Python311"
      PYTHON_VERSION: 3.11
      PYTHON_ARCH: 64

    - job_name: Python 3.12 x64
      PYTHON: "C:\\Python312"
      PYTHON_VERSION: 3.12
      PYTHON_ARCH: 64

init:
  - SET PATH=%PYTHON%;%PYTHON%\Scripts;%USERPROFILE%\AppData\Roaming\Python\Python%PYTHON_VERSION:.=%\Scripts;%PATH%
  - ECHO %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%

install:
  - python --version
  - python -m pip install --upgrade pip
  - pip install --user pipx
  - SET PATH=%USERPROFILE%\.local\bin;%PATH%
  - pipx --version
  - pipx install poetry
  - SET PATH=%USERPROFILE%\.local\bin;%PATH%
  - poetry --version

before_build:
  - cmd: git clone https://github.com/FlaUI/FlaUI.git C:\projects\FlaUI

  # PowerShell script to find and select the desired .NET SDK version
  - ps: |
      $dotnetVersions = dotnet --list-sdks
      $desiredVersions = $dotnetVersions | Where-Object { $_ -match "6\." -or $_ -match "7\." }
      $desiredVersion = ($desiredVersions | Sort-Object -Descending | Select-Object -First 1).Trim()
      Write-Output "Selected .NET SDK version: $desiredVersion"
      # Extract only the version number
      $desiredVersionNumber = ($desiredVersion -split '[\[\]]')[0].Trim()
      Write-Output "Extracted version number: $desiredVersionNumber"
      # Create or update global.json with the selected SDK version
      $globalJsonContent = @{
          sdk = @{
              version = $desiredVersionNumber
              rollForward = "latestFeature"
          }
      } | ConvertTo-Json -Compress
      Set-Content -Path "C:\projects\FlaUI\global.json" -Value $globalJsonContent

build_script:
  - ps: |
      cd "C:\projects\FlaUI"
      dotnet --version
      & "C:\\projects\\FlaUI\\build.ps1" --target "Build"
  - ps: |
      cd "C:\projects\flaui-uiautomation-wrapper"
      $env:PATH = "$env:USERPROFILE\.local\bin;$env:PATH"
      poetry config virtualenvs.in-project true
      poetry install --only unit_test
      poetry build

after_build:
  - ps: |
      New-Item -ItemType Directory -Path "C:\projects\flaui-uiautomation-wrapper\test_applications\WPFApplication" -Force | Out-Null
      Copy-Item -Path "C:\projects\FlaUI\src\TestApplications\WpfApplication\bin\*" -Destination "C:\projects\flaui-uiautomation-wrapper\test_applications\WPFApplication" -Recurse -Force
      New-Item -ItemType Directory -Path "C:\projects\flaui-uiautomation-wrapper\test_applications\WinFormsApplication" -Force | Out-Null
      Copy-Item -Path "C:\projects\FlaUI\src\TestApplications\WinFormsApplication\bin\*" -Destination "C:\projects\flaui-uiautomation-wrapper\test_applications\WinFormsApplication" -Recurse -Force

before_test:
  - ps: |
      cd "C:\projects\flaui-uiautomation-wrapper"
      $env:PATH = "$env:USERPROFILE\.local\bin;$env:PATH"
      $wheelPath = Get-ChildItem -Path "dist" -Filter "*.whl" | Select-Object -First 1
      poetry run pip install $wheelPath.FullName

test_script:
  - ps: |
      $env:PATH = "$env:USERPROFILE\.local\bin;$env:PATH"
      poetry run coverage run -m pytest --test-app-uia-version=UIA2 --junitxml=test-results-uia2.xml
      poetry run coverage run -m pytest --test-app-uia-version=UIA3 --junitxml=test-results-uia3.xml

after_test:
  - ps: |
      $env:PATH = "$env:USERPROFILE\.local\bin;$env:PATH"
      poetry run coverage combine
      poetry run coverage xml
      poetry run coverage html

artifacts:
  - path: test-results-uia2.xml
    name: test-results-uia2

  - path: test-results-uia3.xml
    name: test-results-uia3

  - path: coverage.xml
    name: coverage

  - path: htmlcov
    name: coverage-html

  - path: test_applications/
    name: test-applications

  - path: dist/
    name: wheels

cache:
  - C:\Users\appveyor\.nuget\packages # Cache the NuGet packages
  - C:\projects\FlaUI\**\bin
  - C:\projects\FlaUI\**\obj
  - C:\projects\FlaUI\src\TestApplications

on_finish:
  - ps: >-
      $wc = New-Object 'System.Net.WebClient'

      if (Test-Path .\test-results-uia2.xml) {
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\test-results-uia2.xml))
      }

      if (Test-Path .\test-results-uia3.xml) {
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\test-results-uia3.xml))
      }

      if (Test-Path .\coverage.xml) {
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/coverage/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\coverage.xml))
      }
